html, body {
	height: 100%;
}

.container {
	display: table;
	max-width: 400px;
	height: 100%;
	min-height: 100%;
}

.form-signin {
	display: table-cell;
	vertical-align: middle;
}

.box {
	border:1px red dotted;
}